# Ignore executables
bin

# Ignore test files
src/test

# Ignore core dumps
core

# Ignore "ropeme" gadget dumps
*.ggt

# Ignore "ROPgadget" dumps
*.so.txt

# Ignore shared object files
*.so

# Ignore .pyc files
*.pyc